* {
	/*border: solid red 1px;*/
}

.invoice {
	margin-top: 10px;
}

.selected-products {
	margin-bottom: 10px;
	margin-top: 20px;
}

.delete-item {
	color: #000;
}
.delete-item:hover {
	color: red;
	cursor: pointer;
}

.selected-product-name {
	margin-right: 100px;
}

.invoice-id {
	float: right;
}

.customers-select,
.products-select {
	margin-top: 20px;
	/*margin-bottom: 20px;*/
}

.discount {
	float: right;
	/*display: block;*/
}

.total {
	/*margin: 20px;*/
	display: block;
	/*float: right;*/
}

.new-item-form {
	/*max-width: 350px;*/
}

.new-item-submit-btn {
	margin-top: 20px;
	display: inline-block;
}

.add-new-item-btn {
	margin-bottom: 20px;
	display: inline-block;
}

.table-header {
	border: none;
}