<h2 ng-init="getInvoices()">Invoices</h2>
<!-- <div>
	<ul>
		<li ng-repeat="invoice in invoices">id: {{invoice.invoice_id}}</li>
	</ul>
</div> -->
<button type="button" 
		class="btn btn-default" 
		ng-init="showForm = false"
		ng-click="getProducts(); addInvoice(); showForm = !showForm">Create new invoice
</button>

<form class="invoice-form well" ng-init="getProducts(); getCustomers()" ng-repeat="invoice in invoices">
	<h3>Invoice for 
		<button type="button" 
				class="btn btn-default" 
				ng-click="showCustomers = !showCustomers">{{invoice.customer_id}}
		</button>
	</h3>

	<div ng-show="showCustomers" 
		 ng-repeat="customer in customers" 
		 ng-click="selectCustomer(invoice, customer)">{{customer.name}} {{customer.id}}
	</div>

<!-- 	<label for="customers">Select a customer:
	<input list="customers" name="customers" ng-model="selectedCustomer" ng-blur="selectCustomer(invoice, selectedCustomer)" /></label>
	<datalist id="customers">
		<option ng-repeat="customer in customers" 
				value="{{customer}}">
	</datalist> -->

<!-- 	<label for="customers">Select a customer:
	</label>
	<select id="customers" ng-model="selectedCustomer" ng-blur="selectCustomer(invoice, selectedCustomer)">
		<option ng-repeat="customer in customers" 
				value="{{customer}}">id: {{customer.id}}, name: {{customer.name}}
		</option>
	</select> -->

	<label for="products">Add products:
	</label>
	<select id="products" ng-model="currentProduct">
		<option ng-repeat="product in products track by $index" 
				value="{{product}}">{{product.name}}
		</option>
	</select>

	<button type="button" class="btn btn-default" ng-click="addProduct(currentProduct, invoice.id)">add</button>

	<table class="table selected-products" ng-show="selectedProducts">
		<tr ng-repeat="item in selectedProducts track by $index" ng-init="item.quantity = 1">
			<td>
				<span class="delete-item" ng-click="deleteProduct($index)">&#10006;</span> 
				<span class="selected-product-name">{{item.name}}</span>
			</td>
			<td>
				<input type="number" name="" ng-model="item.quantity">
			</td>
			<td>
				<span class="item-price">{{item.price}}</span>
			</td>
			<td>total: {{item.price * item.quantity}}</td>
		</tr>
	</table>
	<div ng-model="productTotal"><h4>Total:</h4></div>

	<button type="button" class="btn btn-danger" ng-click="deleteInvoice(invoice.id, $index)">cancle</button>
	{{invoice.id}}
</form>